{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

	<title>Tweet Sentiment Analysis</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{%static 'assets/css/main.css'%}" />
</head>

<body class="is-preload">
	<!-- Header -->
	<div class="col">
	<header id="header">
		<h1>Tweet Sentiment Analysis</h1>
		<p>Paste the tweet here ↴</p>
	</header>

	<!-- Signup Form -->
	<form  method="post" action="result">
		{% csrf_token %}
		<div class="col-8">
			<textarea type="text" name="email" id="email" placeholder="tweet" rows=5></textarea>
		<h6>ㅤ</h6>
		<input type="submit" value="SUBMIT" /></div>
	</form>
	</div>
	<!-- Scripts -->
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>